$color-primary-dark:#19547b;
$color-primary-light:#ffd89b;
$color-red-buttom: #8B0000;
$color-black:#3c3c3c;
$red-buttom: #8B0000;
$color-white: #fff;
$color-salmon: #FA8072;
$red:#f85032;
$red2:#e73827;
$blue:#314755;
$blue2:#26a0da;
$yellow:#F09819;
$yellow2:#EDDE5D;
$background-main:#E8E8E8;





