.heading-center {
    text-align: center;
}
.heading-secondary-margin-bottom{
    margin-bottom: 4rem;
}
.heading-secondary-margin-bottom--2{
    margin-bottom: 6rem;
}
.heading-margin-top{
    margin-top: 2rem;
  }
.color-white{
    color: $color-white;
    letter-spacing: 10px;
}