.heading-primary{
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
         &--1 {
            display:block;
            font-size:6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation-name: moveInRight1;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            margin-left:2rem;
            @include respond(phone){
            letter-spacing: 1rem;
            font-size: 4.5rem;
            }
        }
        &--2 {
            display:block;
            font-size:2rem;
            font-weight: 400;
            letter-spacing: 1.75rem;
            animation-name: moveInRight2;
            animation-duration: 1s;
            animation-delay: 0.1s;
            animation-timing-function: ease-in;
            margin-left:2rem;
            @include respond(phone){
                letter-spacing: 1rem; 
            }
        }
}
.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(to right, $color-red-buttom, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    text-align: center;
    &:hover {
        letter-spacing: .2rem;
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary{
    font-size:1.2rem;
    text-transform: uppercase;
    display:block;
    letter-spacing: 2px;
    color:$color-black;
}